<div>
 <div class="row">
     {{!-- section: the burger data with devour capabilities --}}
     i allow you to devour the food 

 </div>

<div class="row">
    {{!-- section: the area that lists the burger-data with readonly capabailities --}}
    i allow you to read what burgers are in the db
</div>

 <div class="row">
     {{!-- section: the input for a new burger / will also hold the post command for submit button --}}
     i allow you to add burgers to the db
 </div>


</div>